<!-- Row Parent of H3 is feed (taking from the style .feed class above) -->
<div class="row feed">
  <div class="col-md-4">
    <!-- If I'm logged in, hide everything in between this div -->
    <div ng-hide="currentUser">
      <h4>Login</h4>
      <br>
      <!-- This creates a login form for username and password -->
      <input type="text" size="30" placeholder="Username" ng-model="username">
      <br><br>
      <input type="password" size="30" placeholder="Password" ng-model="password">
      <button type="button" ng-click="login()">Log In</button>
      <br>
      <a href="#/signup">Not a member? Signup!</a>
    </div>
    <div ng-show"currentUser">
      Hello, {{ currentUser }}.
    </div>
  </div><br>

  <div class="col-md-8">
    <div class="new-meow">
      <!-- ng-model directive binds (two-way) the value of HTML controls (input, select, textarea) to app data-->
      <input type="text" class="form-control" ng-model="newMeow" placeholder="What do you have to meow today?">
      <button type="button" class="btn btn-primary" ng-click="submitNewMeow()">Submit</button>
    </div>
    <!-- ng-repeat to repeat H3 block for each meow in the function $scope.meows array above -->
    <h3 ng-repeat="meow in meows">
      <!-- glyphicon is a bootstrap component, area-hidden will disable reading for impaired -->
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      {{ meow.text }}
      <a href ng-click="removeMeow(meow)"><span class="glyphicon glyphicon-remove"aria-hidden="true"></span></a>
    </h3>
  </div>
</div>
